/* SNS */
.tbl_using_rate {
  border-collapse: collapse;
}
.tbl_using_rate > caption {
}
.tbl_using_rate tr {
  width: 100px;
  height: 35px;
  border: 1px solid;
  text-align: center;
}
.tbl_using_rate td {
  width: 100px;
  height: 35px;
  border: 1px solid;
  text-align: center;
}

/* 한국의 차 */
.tbl_tea tr {
  width: 100px;
  height: 35px;
  border: 1px solid;
  text-align: center;
}
.tbl_tea td {
  width: 100px;
  height: 35px;
  border: 1px solid;
  text-align: center;
}
